.catTable {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
.catCard {
  width: 49%;
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  border-radius: 64px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;

}
.img {
  width: 215px;
  height: 185px;
  border: 1px solid black;
  display: inline-block;
  float: left;
  border-radius: 60px;
  background: url("https://s5.favim.com/mini/160104/alternative-animal-black-cat-Favim.com-3838315.jpg") center;
}
.catInfo {
  font-size: 20px;
  color: darkblue;
  font-weight: bold;
  margin-top: 30px;
  display: inline-block;
}
.catInfo_item {
  font-size: 15px;
  color: silver;
  margin: 10px;
  list-style: none;
}
.item_data {
  font-size: 15px;
  color: black;
}
.catInput {
  display: inline-block;
  list-style: none;
  margin-left: 10px;
}
.hide {
  display: none;
}
.deleteBtn {
  padding: 5px 10px;
  background-color: red;
  text-align: center;
  border-radius: 20px;
  font-size: 10px;
  color: white;
  cursor: pointer;
  float: right;
  margin-top: 15px;
  position: absolute;
  right: 38px;
  border: none;
}
.editBtn {
  padding: 5px 15px;
  background-color: cornflowerblue;
  text-align: center;
  border-radius: 20px;
  font-size: 10px;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 90px;
  margin-top: 15px;
  border: none;
}
.editedBtn {
  padding: 5px 15px;
  background-color: lawngreen;
  text-align: center;
  border-radius: 20px;
  font-size: 10px;
  color: white;
  cursor: pointer;
  position: relative;
  top: 30px;
  right: 70px;
  border: none;
}
